.unit-labels {
  // background: none !important;
  background: rgba(255,255,255,0.5) !important;
  color: #000 !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: bold;
  padding: 2px !important;
  margin: 0 !important;
  &:before {
    display: none !important;
  }
  &.hide-label {
    opacity: 0 !important;
  }
}